.movieCard {
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 301px;
    height: 345px;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
    box-shadow: 10px 10px 5px grey;
}

.movieImage {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: hand;
}

.movieCard:hover {
    border: 1px solid #777;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transform: scale(1.2);
    z-index: 1;
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
    -webkit-filter: contrast(1.5);
    filter: contrast(1.5);
    z-index: 2
}

.imageTitle {
    position: absolute;
    /* absolute position (so we can position it where we want)*/
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    padding: 5px;
    z-index: 1;
}

.icons {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    font-size: 12px;
    color: white;
    z-index: 1;
}

.glyphicon-eye-close {
    cursor: hand
}

.glyphicon-eye-open {
    cursor: hand
}

.glyphicon-eye-open:hover {
    transform: scale(1.3);
}

.glyphicon-eye-close:hover {
    transform: scale(1.3);
}

.releaseDate {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    color: white;
    z-index: 1;
}

.glyphicon {
    padding: 3px;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    transition: transform 0.5s ease;
}

.language {
    font-size: 14px;
    font-variant: small-caps
}

.title {
    margin: 0px;
    font-size: 20px;
}

.genreCheckbox {
  display: flex;
}

.checkbox {
  padding: 10px;
  display: inline-block;
}

.filterButtons {
    padding: 10px;
}

.yearFilter {
    padding: 10px;
    display: inline-block;
}

.filterClass {
    padding: 20px;
}

.filterForm {
    background: beige;
}

.filterButtons {
    display: flex;
    justify-content: center;
}

.navbar-default {
    background: antiquewhite;
}

.navbar {
    margin-bottom: 0px;
}
.navItem:hover {
    background-color: #ffffff;
    color: #EEA200;
}

.btn {
    margin: 5px;
}

.footer {
    background: black;
    margin-top: 100px;
}

.text-center {
    color: white;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
}

.profileBackground {
    background-image: linear-gradient(to left, black 0%, white 100%);
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.panes {
    padding: 18px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height:300px;
}

.carousel-control{
    background-image: none;
    float: left;
    width: 120%;
}    

.carousel-control .glyphicon-chevron-left {
    position: absolute;
    left: 30px;
    background-image: none;
}

.profile-details {
    width: 60%;
}

.profile-image {
    position: absolute;
    right: 20px;
    width: 400px;
    height: 300px;
    padding: 10px;
}

.profile-title {
    margin-top: 0px;
}

.profile-header {
    padding: 10px;
}

.profile-details {
    padding: 10px;
}

.carousel-header {
    padding: 10px;
}
.carousel-inner {
    width: 90%;
    height: 320px;
    overflow-x: auto;
}

.items {
    display: inline-flex;
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: 40px;
}

.item {
    padding: 10px;
}

.item-image {
    height: 90%;
}

.carousel-control.right {
    margin-right: -45px; 
}

.glyphicon.glyphicon-chevron-right {
    margin-right: -600px;
}